Checks: '-*,bugprone-*,cert-*,clang-analyzer-*,concurrency-*,cppcoreguidelines-*,hicpp-*,misc-*,modernize-*,performance-*,portability-*,readability-*,-readability-identifier-length,-modernize-use-trailing-return-type'
HeaderFilterRegex: '.*'
WarningsAsErrors: '*'
FormatStyle: none
