Checks: '-*,
         bugprone-*,
         cert-*,
         clang-analyzer-*,
         concurrency-*,
         cppcoreguidelines-*,
         hicpp-*,
         misc-*,
         modernize-*,
         performance-*,
         portability-*,
         readability-*,
         -cppcoreguidelines-non-private-member-variables-in-classes,
         -misc-non-private-member-variables-in-classes,
         -misc-use-internal-linkage,
         -readability-identifier-length,
         -modernize-use-trailing-return-type'
HeaderFilterRegex: '.*'
WarningsAsErrors: '*,-misc-use-internal-linkage'
FormatStyle: none
